form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;

  mat-card{
    padding: 1em;

    mat-card-header{
      justify-content: center;
      padding-bottom: 2em;
    }

    mat-card-content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 5em;
      row-gap: 3em;
    }

    mat-card-actions{
      justify-content: space-around;
    }
  }
}
