mat-card{
  text-align: center;
  border-radius: 1em;
  margin: 1em 0em;

  & > mat-card-header{
    justify-content: center;
  }

  & > mat-card-content > div{
    display: inline-block;
    padding: 1em;
    border: 1px solid;
    border-radius: 1em;
    margin: 0.5em;

    .hidden-name{
      &:not(:hover){
        background-color: black;
      }
      cursor: pointer;
    }

    fa-icon{
      margin-right: 1em;
      &::after{
        content: ' :';
      }
    }
  }

  & > mat-card-actions{
    justify-content: center;
    gap: 1em;
  }
}
