<app-superhero-filter (filterHeroes)="onFilterHeroes($event)"></app-superhero-filter>
<mat-paginator
  [length]="superHeroes.length"
  [pageSize]="pagItems"
  [pageIndex]="pagStart"
  [pageSizeOptions]="pagOptions"
  (page)="changePagination($event)">
</mat-paginator>

<ul>
  <li *ngFor="let hero of superHeroes.slice(pagStart * pagItems,pagStart * pagItems + pagItems)">
    <app-superhero
      [superHero]="hero"
      (deleteSuperHero)="onDeleteSuperHero($event)"
      (editSuperHero)="onEditSuperHero($event)">
    </app-superhero>
  </li>
</ul>

  <!-- <app-superhero-form [superHero]="currentSuperHero" (addHero)="onAddHero($event)"></app-superhero-form> -->
