<app-superhero-filter (filterHeroes)="onFilterHeroes($event)"></app-superhero-filter>
<mat-paginator
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<ul>
  <li *ngFor="let hero of superHeroes">
    <app-superhero
      [superHero]="hero"
      (deleteSuperHero)="onDeleteSuperHero($event)"
      (editSuperHero)="onEditSuperHero($event)">
    </app-superhero>
  </li>
</ul>

  <!-- <app-superhero-form [superHero]="currentSuperHero" (addHero)="onAddHero($event)"></app-superhero-form> -->
