mat-toolbar{
  justify-content: end;
  gap: 2em;
  background: transparent;
}

ul{
  display: grid;
  grid-template-columns: [left] 1fr [content] auto [right] 1fr;

  li{
    list-style: none;
    grid-column-start: content;
  }
}
